/* colores 
  azul
  background-color: rgb(16, 173, 174);
  color: rgb(16, 173, 174);

  amarillo
  background-color: rgb(251, 210, 133);
  color: rgb(251, 210, 133);
*/

/* burbujas */
.tamaño {
  height: 50px;
  width: 50px;
}

.burbuja {
  /* background: rgb(0, 255, 72); */
  opacity: 0.3;
  position: absolute;
  bottom: -150;
  animation: burbujas 3s linear infinite;
  position: fixed;
}

.burbuja:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 3s;
  animation-delay: 3s;
  background-color: transparent;
}

.burbuja:nth-child(2) {
  width: 100px;
  height: 100px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 5s;
  background-color: transparent;
}

.burbuja:nth-child(3) {
  width: 40px;
  height: 40px;
  left: 15%;
  animation-duration: 2s;
  animation-delay: 7s;
  background-color: transparent;
}

.burbuja:nth-child(4) {
  width: 50px;
  height: 50px;
  left: 90%;
  animation-duration: 6s;
  animation-delay: 3s;
  background-color: transparent;
}

.burbuja:nth-child(5) {
  width: 70px;
  height: 70px;
  left: 65%;
  animation-duration: 3s;
  animation-delay: 1s;
  background-color: transparent;
}

.burbuja:nth-child(6) {
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
  background-color: transparent;
}

.burbuja:nth-child(7) {
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
  background-color: transparent;
}

.burbuja:nth-child(8) {
  width: 100;
  height: 100px;
  left: 52%;
  animation-duration: 5s;
  animation-delay: 5s;
  background-color: transparent;
}

.burbuja:nth-child(9) {
  width: 65px;
  height: 65px;
  left: 51%;
  animation-duration: 3s;
  animation-delay: 2s;
  background-color: transparent;
}

.burbuja:nth-child(10) {
  width: 40px;
  height: 40px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 4s;
  background-color: transparent;
}

.burbuja:nth-child(11) {
  width: 50px;
  height: 50px;
  left: 77%;
  animation-duration: 2s;
  animation-delay: 2s;
  background-color: transparent;
}

.burbuja:nth-child(12) {
  width: 40px;
  height: 40px;
  left: 80%;
  animation-duration: 3s;
  animation-delay: 3s;
  background-color: transparent;
}
.burbuja:nth-child(13) {
  width: 40px;
  height: 40px;
  left: 5%;
  animation-duration: 5s;
  animation-delay: 3s;
  background-color: transparent;
}

.burbuja:nth-child(14) {
  width: 50px;
  height: 50px;
  left: 20%;
  animation-duration: 4s;
  animation-delay: 3s;
  background-color: transparent;
}

@keyframes burbujas {
  0% {
    bottom: 0;
    opacity: 0;
  }
  30% {
    transform: translateX(30px);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    bottom: 100vh;
    opacity: 0;
  }
}

@keyframes movimiento {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  font-size: 18px;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(
    0,
    #00b5ec 0,
    #00b4fe 3.33%,
    #00b2ff 6.67%,
    #00b0ff 10%,
    #00adff 13.33%,
    #00a9ff 16.67%,
    #00a4ff 20%,
    #009eff 23.33%,
    #0097ff 26.67%,
    #008fff 30%,
    #6485ff 33.33%,
    #947bff 36.67%,
    #b66fff 40%,
    #d162fe 43.33%,
    #e754ec 46.67%,
    #f946d9 50%,
    #ff37c5 53.33%,
    #ff29b0 56.67%,
    #ff1f9b 60%,
    #ff1d86 63.33%,
    #ff2571 66.67%,
    #ff325d 70%,
    #ff4049 73.33%,
    #ff4e34 76.67%,
    #ff5b1c 80%,
    #f76700 83.33%,
    #ea7200 86.67%,
    #db7d00 90%,
    #cc8600 93.33%,
    #ba8e00 96.67%,
    #a89500 100%
  );
}

/* barra */
html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: transparent;
  width: 100%;
  min-height: 80px;
  z-index: 1;
}
.nav-a {
  color: white;
}
.banner-area {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
}

.about-area,
.port-area,
.service-area,
.contact-area {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 700px;
}
.text-part {
  width: 65%;
  height: 80%;
}
.nosotros-area {
  background-color: transparent;
}
.pronafim-area {
  background-color: transparent;
}
.ubicacion-area {
  background-color: transparent;
}
.apoyo-area {
  background-color: transparent;
}

.formulario-area {
  background-color: transparent;
}
.contacto-area {
  background-color: transparent;
}

/* ------------------------- */
.principal {
  width: 100%;
  height: 100vh;
  z-index: 800;
  position: relative;
}

.logotipo {
  width: 50px;
}
.nombre-logo {
  width: 120px;
}
.parrafo {
  position: absolute;
  z-index: 999;
  top: 25vh;
  width: 35vw;
  right: 14vw;
  color: rgb(0, 0, 0);
  font-size: 33px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
}

.parrafo-1 {
  position: absolute;
  z-index: 999;
  top: 13vh;
  width: 35vw;
  right: -3vw;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-nav .col-barra0 {
  color: rgb(16, 157, 40);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
}
.navbar-nav .col-barra1 {
  color: rgb(255, 255, 255);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
}
.navbar-nav .col-barra2 {
  color: rgb(0, 47, 255);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
}
.navbar-nav .col-barra3 {
  color: rgb(255, 196, 0);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
}
.navbar-nav .col-barra4 {
  color: rgb(255, 247, 0);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
}
.navbar-nav .col-barra5 {
  color: rgb(0, 255, 21);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
}
.navbar-nav .col-barra6 {
  color: #00f2ff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
}
.navbar-nav .col-barra7 {
  color: rgb(255, 8, 8);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
}
/*parrafo*/
.puerco {
  width: 90px;
  height: 80px;
}

.imgPrincipal {
  width: 100%;
  height: 100%;
}

.carousel {
  height: 100%;
  width: 100%;
  position: relative;
}

/* titulo */
.titulo1 {
  font-size: 18px;
  position: relative;
  color: rgb(0, 0, 0);
}

.titulo1-1 {
  font-size: 24px;
  color: #00f2ff;
  font-weight: 800;
  position: relative;
}
H4 {
  color: rgb(0, 0, 0);
  font-size: 40px;
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  position: relative;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: transparent;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-body {
  background-color: transparent;
  position: relative;
}

.card {
  padding: 0%;
  margin: 0;
  background-color: transparent;
  position: relative;
}

/* NOSOTROS */
.nosotros {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* SERVICIO */
.servicio {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* PRESTAMO */
.prestamo {
  height: 500px;
  width: 500px;
  position: relative;
}
/* viejo foto */
.viejo {
  width: 100%;
  height: 100vh;
  position: relative;
}

.parrafo1 {
  font-size: 19px;
  color: rgb(16, 173, 174);
  position: relative;
}

.parrafo2 {
  font-size: 19px;
  color: rgb(16, 173, 174);
  position: relative;
}
.parrafo3 {
  font-size: 19px;
  color: rgb(16, 173, 174);
  position: relative;
}
.nube {
  position: relative;
  width: 100%;
}
.centrar {
  display: flex;
  justify-items: center;
  align-items: center;
}
.titulo4 {
  font-size: 19px;
  color: rgb(0, 0, 0);
  text-align: left;
  position: relative;
}
.prestamoTxt {
  text-align: center;
  font-size: 20px;
  color: rgb(0, 0, 0);
}
.prestamoTxt2 {
  text-align: center;
  font-size: 65px;
  color: tomato;
}
.prestamoTxt3 {
  text-align: center;
  font-size: 20px;
  color: rgb(0, 0, 0);
}
.prestamoTxt4 {
  text-align: center;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.titulo5 {
  text-align: center;
  font-size: 25px;
  position: relative;
  color: rgb(0, 0, 0);
}
.titulo5-1 {
  color: rgb(240, 253, 0);
  font-weight: 800;
  text-align: center;
  font-size: 39px;
  position: relative;
}
.ubicacion {
  width: 100%;
  position: relative;
}
.ubicacion2 {
  height: 105%;
  width: 100%;
  position: relative;
}
.casa {
  width: 100%;
}

/* formulario */
p.txtFor1 {
  font-size: 30px;
  color: rgb(238, 230, 0);
  font-weight: 900;
}
.txtFor2 {
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.colFor {
  color: rgb(0, 0, 0);
  position: relative;
}

.face {
  height: 45px;
  width: 45px;
  position: relative;
}
img.face {
  padding: 0;
}

.llamada {
  height: 45px;
  width: 45px;
  position: relative;
}

.redes {
  width: 90%;
}
.rosa {
  height: 8150px;
  width: 100%;
  margin-top: -600%;
  opacity: 1;
}

.btn {
  position: relative;
}

.formulario-area {
  position: relative;
}
.formulario-area {
  position: relative;
}
.form-select {
  cursor: pointer;
}
.card {
  background: rgba(255, 255, 255, 0.1);
}
.centrarVertical {
  display: flex;
  justify-items: center;
}
.footer {
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
}
.noe {
  position: relative;
  top: 8px;
}
.sectionHeader {
  width: 100%;
  height: 80px;
}
.navbar-nav {
  display: flex;
  justify-items: center;
}
.marginTop {
  margin-top: 80px;
}
.section {
  width: 100%;
  height: 85px;
}
