/* colores 
  azul
  background-color: rgb(16, 173, 174);
  color: rgb(16, 173, 174);

  amarillo
  background-color: rgb(251, 210, 133);
  color: rgb(251, 210, 133);
*/

/* burbujas */
.tamaño {
  height: 50px;
  width: 50px;
}

.burbuja {
  /* background: rgb(0, 255, 72); */
  opacity: 0.3;
  position: absolute;
  bottom: -150;
  animation: burbujas 3s linear infinite;
  position: fixed;
}

.burbuja:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 3s;
  animation-delay: 3s;
  background-color: transparent;
}

.burbuja:nth-child(2) {
  width: 100px;
  height: 100px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 5s;
  background-color: transparent;
}

.burbuja:nth-child(3) {
  width: 40px;
  height: 40px;
  left: 15%;
  animation-duration: 2s;
  animation-delay: 7s;
  background-color: transparent;
}

.burbuja:nth-child(4) {
  width: 50px;
  height: 50px;
  left: 90%;
  animation-duration: 6s;
  animation-delay: 3s;
  background-color: transparent;
}

.burbuja:nth-child(5) {
  width: 70px;
  height: 70px;
  left: 65%;
  animation-duration: 3s;
  animation-delay: 1s;
  background-color: transparent;
}

.burbuja:nth-child(6) {
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
  background-color: transparent;
}

.burbuja:nth-child(7) {
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
  background-color: transparent;
}

.burbuja:nth-child(8) {
  width: 100;
  height: 100px;
  left: 52%;
  animation-duration: 5s;
  animation-delay: 5s;
  background-color: transparent;
}

.burbuja:nth-child(9) {
  width: 65px;
  height: 65px;
  left: 51%;
  animation-duration: 3s;
  animation-delay: 2s;
  background-color: transparent;
}

.burbuja:nth-child(10) {
  width: 40px;
  height: 40px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 4s;
  background-color: transparent;
}

.burbuja:nth-child(11) {
  width: 50px;
  height: 50px;
  left: 77%;
  animation-duration: 2s;
  animation-delay: 2s;
  background-color: transparent;
}

.burbuja:nth-child(12) {
  width: 40px;
  height: 40px;
  left: 80%;
  animation-duration: 3s;
  animation-delay: 3s;
  background-color: transparent;
}
.burbuja:nth-child(13) {
  width: 40px;
  height: 40px;
  left: 5%;
  animation-duration: 5s;
  animation-delay: 3s;
  background-color: transparent;
}

.burbuja:nth-child(14) {
  width: 50px;
  height: 50px;
  left: 20%;
  animation-duration: 4s;
  animation-delay: 3s;
  background-color: transparent;
}

@keyframes burbujas {
  0% {
    bottom: 0;
    opacity: 0;
  }
  30% {
    transform: translateX(30px);
  }
  50% {
    opacity: 0.4;
  }
  100% {
    bottom: 100vh;
    opacity: 0;
  }
}

@keyframes movimiento {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  font-size: 18px;
  color: rgb(255, 255, 255);
  background-image: radial-gradient(
    circle at 50% 76.49%,
    #7cb367 0,
    #6eb570 3.33%,
    #5eb67a 6.67%,
    #4cb884 10%,
    #36b98f 13.33%,
    #11b99b 16.67%,
    #00baa6 20%,
    #00bab2 23.33%,
    #00babd 26.67%,
    #00b9c8 30%,
    #00b8d2 33.33%,
    #00b7db 36.67%,
    #00b6e3 40%,
    #00b4ea 43.33%,
    #00b2f0 46.67%,
    #11aff4 50%,
    #41acf7 53.33%,
    #5ea9f7 56.67%,
    #75a5f7 60%,
    #89a1f4 63.33%,
    #9b9df0 66.67%,
    #ac98eb 70%,
    #bb94e4 73.33%,
    #c890dc 76.67%,
    #d38cd3 80%,
    #dd88c9 83.33%,
    #e585bf 86.67%,
    #eb83b4 90%,
    #f082a9 93.33%,
    #f2829d 96.67%,
    #f48292 100%
  );
}

/* barra */
html {
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: transparent;
  width: 100%;
  z-index: 1;
}
.nav {
  display: flex;
  justify-content: right;
  list-style: none;
  margin-right: 7%;
  font-size: 17px;
  color: transparent;
}
.nav-a {
  color: white;
}

.logo {
  flex: 1 1 auto;
  margin-left: 10%;
  text-transform: uppercase;
  letter-spacing: 1px;
}
img {
  width: 20%;
}
a {
  margin: 15px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  color: #000;
}
.banner-area {
  position: relative;
  background-image: url(/imagenes/Cerdito.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
}

.about-area,
.port-area,
.service-area,
.contact-area {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 700px;
}
.text-part {
  width: 65%;
  height: 80%;
}
.nosotros-area {
  background-color: transparent;
}
.pronafim-area {
  background-color: transparent;
}
.ubicacion-area {
  background-color: transparent;
}
.apoyo-area {
  background-color: transparent;
}

.formulario-area {
  background-color: transparent;
}
.contacto-area {
  background-color: transparent;
}

/* ------------------------- */
.principal {
  width: 100%;
  height: 100vh;
  z-index: 800;
  position: relative;
}

.logotipo {
  width: 70px;
}
.nombre-logo {
  width: 120px;
}
.parrafo {
  position: absolute;
  z-index: 999;
  top: 25vh;
  width: 35vw;
  right: 14vw;
  color: rgb(0, 0, 0);
  font-size: 33px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
}

.parrafo-1 {
  position: absolute;
  z-index: 999;
  top: 13vh;
  width: 35vw;
  right: -3vw;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-nav .col-barra0 {
  color: rgb(16, 157, 40);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
}
.navbar-nav .col-barra1 {
  color: rgb(255, 255, 255);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
}
.navbar-nav .col-barra2 {
  color: rgb(0, 47, 255);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
}
.navbar-nav .col-barra3 {
  color: rgb(255, 196, 0);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
}
.navbar-nav .col-barra4 {
  color: rgb(255, 247, 0);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
}
.navbar-nav .col-barra5 {
  color: rgb(0, 255, 21);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
}
.navbar-nav .col-barra6 {
  color: #00f2ff;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
}
.navbar-nav .col-barra7 {
  color: rgb(255, 8, 8);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
}
/*parrafo*/
.puerco {
  width: 90px;
  height: 80px;
}

.imgPrincipal {
  width: 100%;
  height: 100%;
}

.carousel {
  height: 100%;
  width: 100%;
  position: relative;
}

/* titulo */
.titulo1 {
  font-size: 18px;
  position: relative;
  color: rgb(0, 0, 0);
}
.titulo10 {
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  position: relative;
}
.titulo1-1 {
  font-size: 24px;
  color: #00f2ff;
  font-weight: 800;
  position: relative;
}
H4 {
  color: rgb(0, 0, 0);
  font-size: 40px;
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  position: relative;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: transparent;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-body {
  background-color: transparent;
  position: relative;
}

.card {
  padding: 0%;
  margin: 0;
  background-color: transparent;
  position: relative;
}

/* NOSOTROS */
.nosotros {
  width: 115%;
  height: 360px;
  position: relative;
}
/* SERVICIO */
.servicio {
  height: 400px;
  width: 570px;
  position: relative;
}
/* PRESTAMO */
.prestamo {
  height: 500px;
  width: 500px;
  position: relative;
}
/* viejo foto */
.viejo {
  width: 100%;
  height: 100vh;
  position: relative;
}

.parrafo1 {
  font-size: 19px;
  color: rgb(16, 173, 174);
  position: relative;
}

.parrafo2 {
  font-size: 19px;
  color: rgb(16, 173, 174);
  position: relative;
}
.parrafo3 {
  font-size: 19px;
  color: rgb(16, 173, 174);
  position: relative;
}
.nube {
  position: relative;
  height: 100vh;
  width: 50vw;
  position: relative;
}
.titulo4 {
  font-size: 19px;
  color: rgb(0, 0, 0);
  text-align: left;
  position: relative;
}
.prestamoTxt {
  text-align: center;
  font-size: 20px;
  color: rgb(0, 0, 0);
  position: relative;
}
.prestamoTxt2 {
  text-align: center;
  font-size: 65px;
  color: rgb(247, 215, 35);
  position: relative;
}
.prestamoTxt3 {
  text-align: center;
  font-size: 20px;
  color: rgb(0, 0, 0);
  position: relative;
}
.prestamoTxt4 {
  text-align: center;
  font-size: 20px;
  color: rgb(0, 0, 0);
  position: relative;
}

.titulo5 {
  text-align: center;
  font-size: 25px;
  position: relative;
  color: rgb(0, 0, 0);
}
.titulo5-1 {
  color: rgb(240, 253, 0);
  font-weight: 800;
  text-align: center;
  font-size: 39px;
  position: relative;
}
.ubicacion {
  height: 800px;
  width: 100%;
  position: relative;
}
.ubicacion2 {
  height: 105%;
  width: 100%;
  position: relative;
}
.casa {
  height: 100vh;
  width: 100%;
  position: relative;
}

/* formulario */
.txtFor1 {
  font-size: 30px;
  color: rgb(238, 230, 0);
  font-weight: 900;
  position: relative;
}
.txtFor2 {
  font-size: 20px;
  color: rgb(0, 0, 0);
  position: relative;
}

.colFor {
  color: rgb(0, 0, 0);
  position: relative;
}

.face {
  height: 45px;
  width: 45px;
  position: relative;
}

.llamada {
  height: 45px;
  width: 45px;
  position: relative;
}

.redes {
  height: 700px;
  width: 100%;
  position: relative;
}
.rosa {
  height: 8150px;
  width: 100%;
  margin-top: -600%;
  opacity: 1;
}

.btn {
  position: relative;
}

.formulario-area {
  position: relative;
}
.formulario-area {
  position: relative;
}
